<div id="paySection1">
    <div id="avatar"><!-- article avatar --></div>
    <div id="header">
        <div id="name"><strong><!-- _article.author --></strong></div>
        <div id="date"><!-- time --></div>
    </div>
    <div id="pay"><strong><!-- price --></strong></div>
</div>
<!-- _article.contact -->
<!-- _article.tradeTarget -->
<div id="paySection2">
    <div id="c1">
        <div class="colTitle"><!-- PAmount --> 台(个/件)</div>
        <div class="colDescription">数量</div>
    </div>
    <div id="c2">
        <div class="colTitle"><!-- PFineness --></div>
        <div class="colDescription">成色</div>
    </div>
    <div id="c3">
        <div class="colTitle"><!-- PAdd --></div>
        <div class="colDescription">所在地</div>
    </div>
    <div id="c4">
        <div class="colTitle"><!-- PTime --></div>
        <div class="colDescription">入手时间</div>
    </div>
</div>
