<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>	
	<key>小鲸鱼</key>
	<string>3_114</string>
	<key>小恶魔</key>
	<string>3_113</string>
	<key>秀肌肉</key>
	<string>3_116</string>
	<key>别看啦</key>
	<string>3_104</string>
	<key>吓尿你</key>
	<string>3_112</string>		
</dict>
</plist>
