<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>吃惊</key>
	<string>1_109</string>
	<key>呲牙咧嘴</key>
	<string>1_116</string>
	<key>嗯!?</key>
	<string>1_108</string>
	<key>大爱</key>
	<string>1_104</string>
	<key>大笑</key>
	<string>1_105</string>
	<key>害羞</key>
	<string>1_110</string>
	<key>微笑</key>
	<string>1_103</string>
	<key>愤怒</key>
	<string>1_106</string>
	<key>挖鼻屎</key>
	<string>1_101</string>
	<key>挖鼻屎大叔版</key>
	<string>1_102</string>
	<key>晕倒</key>
	<string>1_115</string>
	<key>汗</key>
	<string>1_111</string>
	<key>沮丧</key>
	<string>1_112</string>
	<key>流泪</key>
	<string>1_113</string>
	<key>生气</key>
	<string>1_114</string>
	<key>臭美</key>
	<string>1_107</string>
	<key>呵呵呵</key>
	<string>2_101</string>
	<key>拜拜啦</key>
	<string>2_103</string>
	<key>丑哭脸</key>
	<string>2_104</string>
	<key>发大怒</key>
	<string>2_105</string>
	<key>哈哈笑</key>
	<string>2_106</string>
	<key>好害羞</key>
	<string>2_107</string>
	<key>好可怜</key>
	<string>2_108</string>
	<key>好伤心</key>
	<string>2_109</string>
	<key>好喜欢</key>
	<string>2_110</string>
	<key>可爱呦</key>
	<string>2_111</string>
	<key>流大汗</key>
	<string>2_112</string>
	<key>太吃惊</key>
	<string>2_113</string>
	<key>捅鼻孔</key>
	<string>2_114</string>
	<key>偷笑中</key>
	<string>2_115</string>
	<key>我酷吗</key>
	<string>2_116</string>
	<key>嘻嘻嘻</key>
	<string>2_117</string>
	<key>皱眉头</key>
	<string>2_102</string>
	<key>哎呦喂</key>
	<string>3_101</string>
	<key>爱死了</key>
	<string>3_102</string>
	<key>飚眼泪</key>
	<string>3_103</string>
	<key>笑哭脸</key>
	<string>3_115</string>
	<key>不开心</key>
	<string>3_105</string>
	<key>飞个吻</key>
	<string>3_106</string>
	<key>啦啦啦</key>
	<string>3_107</string>
	<key>生病了</key>
	<string>3_108</string>
	<key>耍大牌</key>
	<string>3_109</string>
	<key>左斜眼</key>
	<string>3_118</string>
	<key>嘻嘻笑</key>
	<string>3_111</string>
	<key>真汗颜</key>
	<string>3_117</string>
	<key>我的天</key>
	<string>3_110</string>
	<key>小鲸鱼</key>
	<string>3_114</string>
	<key>小恶魔</key>
	<string>3_113</string>
	<key>秀肌肉</key>
	<string>3_116</string>
	<key>别看啦</key>
	<string>3_104</string>
	<key>吓尿你</key>
	<string>3_112</string>
</dict>
</plist>
