<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>	
	<key>呵呵呵</key>
	<string>2_101</string>
	<key>拜拜啦</key>
	<string>2_103</string>
	<key>丑哭脸</key>
	<string>2_104</string>
	<key>发大怒</key>
	<string>2_105</string>
	<key>哈哈笑</key>
	<string>2_106</string>
	<key>好害羞</key>
	<string>2_107</string>
	<key>好可怜</key>
	<string>2_108</string>
	<key>好伤心</key>
	<string>2_109</string>
	<key>好喜欢</key>
	<string>2_110</string>
	<key>可爱呦</key>
	<string>2_111</string>
	<key>流大汗</key>
	<string>2_112</string>
	<key>太吃惊</key>
	<string>2_113</string>
	<key>捅鼻孔</key>
	<string>2_114</string>
	<key>偷笑中</key>
	<string>2_115</string>
	<key>我酷吗</key>
	<string>2_116</string>
	<key>嘻嘻嘻</key>
	<string>2_117</string>
	<key>皱眉头</key>
	<string>2_102</string>
</dict>
</plist>
