<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>	
	<key>哎呦喂</key>
	<string>3_101</string>
	<key>爱死了</key>
	<string>3_102</string>
	<key>飚眼泪</key>
	<string>3_103</string>
	<key>笑哭脸</key>
	<string>3_115</string>
	<key>不开心</key>
	<string>3_105</string>
	<key>飞个吻</key>
	<string>3_106</string>
	<key>啦啦啦</key>
	<string>3_107</string>
	<key>生病了</key>
	<string>3_108</string>
	<key>耍大牌</key>
	<string>3_109</string>
	<key>左斜眼</key>
	<string>3_118</string>
	<key>嘻嘻笑</key>
	<string>3_111</string>
	<key>真汗颜</key>
	<string>3_117</string>
	<key>我的天</key>
	<string>3_110</string>	
</dict>
</plist>
