<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>{:挖鼻屎:}</string>
		<key>cht</key>
		<string>{:挖鼻屎:}</string>
		<key>gif</key>
		<string>1_101.gif</string>
		<key>png</key>
		<string>1_101.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:生气:}</string>
		<key>cht</key>
		<string>{:生气:}</string>
		<key>gif</key>
		<string>1_114.gif</string>
		<key>png</key>
		<string>1_114.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:臭美:}</string>
		<key>cht</key>
		<string>{:臭美:}</string>
		<key>gif</key>
		<string>1_107.gif</string>
		<key>png</key>
		<string>1_107.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:晕倒:}</string>
		<key>cht</key>
		<string>{:晕倒:}</string>
		<key>gif</key>
		<string>1_115.gif</string>
		<key>png</key>
		<string>1_115.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:大笑:}</string>
		<key>cht</key>
		<string>{:大笑:}</string>
		<key>gif</key>
		<string>1_105.gif</string>
		<key>png</key>
		<string>1_105.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:大爱:}</string>
		<key>cht</key>
		<string>{:大爱:}</string>
		<key>gif</key>
		<string>1_104.gif</string>
		<key>png</key>
		<string>1_104.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:流泪:}</string>
		<key>cht</key>
		<string>{:流泪:}</string>
		<key>gif</key>
		<string>1_113.gif</string>
		<key>png</key>
		<string>1_113.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:愤怒:}</string>
		<key>cht</key>
		<string>{:愤怒:}</string>
		<key>gif</key>
		<string>1_106.gif</string>
		<key>png</key>
		<string>1_106.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:嗯!?:}</string>
		<key>cht</key>
		<string>{:嗯!?:}</string>
		<key>gif</key>
		<string>1_108.gif</string>
		<key>png</key>
		<string>1_108.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:吃惊:}</string>
		<key>cht</key>
		<string>{:吃惊:}</string>
		<key>gif</key>
		<string>1_109.gif</string>
		<key>png</key>
		<string>1_109.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:汗:}</string>
		<key>cht</key>
		<string>{:汗:}</string>
		<key>gif</key>
		<string>1_111.gif</string>
		<key>png</key>
		<string>1_111.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:挖鼻屎大叔版:}</string>
		<key>cht</key>
		<string>{:挖鼻屎大叔版:}</string>
		<key>gif</key>
		<string>1_102.gif</string>
		<key>png</key>
		<string>1_102.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:害羞:}</string>
		<key>cht</key>
		<string>{:害羞:}</string>
		<key>gif</key>
		<string>1_110.gif</string>
		<key>png</key>
		<string>1_110.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:呲牙咧嘴:}</string>
		<key>cht</key>
		<string>{:呲牙咧嘴:}</string>
		<key>gif</key>
		<string>1_116.gif</string>
		<key>png</key>
		<string>1_116.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:微笑:}</string>
		<key>cht</key>
		<string>{:微笑:}</string>
		<key>gif</key>
		<string>1_103.gif</string>
		<key>png</key>
		<string>1_103.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:沮丧:}</string>
		<key>cht</key>
		<string>{:沮丧:}</string>
		<key>gif</key>
		<string>1_112.gif</string>
		<key>png</key>
		<string>1_112.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:呵呵呵:}</string>
		<key>cht</key>
		<string>{:呵呵呵:}</string>
		<key>gif</key>
		<string>2_101.gif</string>
		<key>png</key>
		<string>2_101.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:拜拜啦:}</string>
		<key>cht</key>
		<string>{:拜拜啦:}</string>
		<key>gif</key>
		<string>2_103.gif</string>
		<key>png</key>
		<string>2_103.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:丑哭脸:}</string>
		<key>cht</key>
		<string>{:丑哭脸:}</string>
		<key>gif</key>
		<string>2_104.gif</string>
		<key>png</key>
		<string>2_104.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:发大怒:}</string>
		<key>cht</key>
		<string>{:发大怒:}</string>
		<key>gif</key>
		<string>2_105.gif</string>
		<key>png</key>
		<string>2_105.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:哈哈笑:}</string>
		<key>cht</key>
		<string>{:哈哈笑:}</string>
		<key>gif</key>
		<string>2_106.gif</string>
		<key>png</key>
		<string>2_106.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:好害羞:}</string>
		<key>cht</key>
		<string>{:好害羞:}</string>
		<key>gif</key>
		<string>2_107.gif</string>
		<key>png</key>
		<string>2_107.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:好可怜:}</string>
		<key>cht</key>
		<string>{:好可怜:}</string>
		<key>gif</key>
		<string>2_108.gif</string>
		<key>png</key>
		<string>2_108.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:好伤心:}</string>
		<key>cht</key>
		<string>{:好伤心:}</string>
		<key>gif</key>
		<string>2_109.gif</string>
		<key>png</key>
		<string>2_109.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:好喜欢:}</string>
		<key>cht</key>
		<string>{:好喜欢:}</string>
		<key>gif</key>
		<string>2_110.gif</string>
		<key>png</key>
		<string>2_110.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:可爱呦:}</string>
		<key>cht</key>
		<string>{:可爱呦:}</string>
		<key>gif</key>
		<string>2_111.gif</string>
		<key>png</key>
		<string>2_111.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:流大汗:}</string>
		<key>cht</key>
		<string>{:流大汗:}</string>
		<key>gif</key>
		<string>2_112.gif</string>
		<key>png</key>
		<string>2_112.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:太吃惊:}</string>
		<key>cht</key>
		<string>{:太吃惊:}</string>
		<key>gif</key>
		<string>2_113.gif</string>
		<key>png</key>
		<string>2_113.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:捅鼻孔:}</string>
		<key>cht</key>
		<string>{:捅鼻孔:}</string>
		<key>gif</key>
		<string>2_114.gif</string>
		<key>png</key>
		<string>2_114.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:偷笑中:}</string>
		<key>cht</key>
		<string>{:偷笑中:}</string>
		<key>gif</key>
		<string>2_115.gif</string>
		<key>png</key>
		<string>2_115.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:我酷吗:}</string>
		<key>cht</key>
		<string>{:我酷吗:}</string>
		<key>gif</key>
		<string>2_116.gif</string>
		<key>png</key>
		<string>2_116.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:嘻嘻嘻:}</string>
		<key>cht</key>
		<string>{:嘻嘻嘻:}</string>
		<key>gif</key>
		<string>2_117.gif</string>
		<key>png</key>
		<string>2_117.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:皱眉头:}</string>
		<key>cht</key>
		<string>{:皱眉头:}</string>
		<key>gif</key>
		<string>2_102.gif</string>
		<key>png</key>
		<string>2_102.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:哎呦喂:}</string>
		<key>cht</key>
		<string>{:哎呦喂:}</string>
		<key>gif</key>
		<string>3_101.gif</string>
		<key>png</key>
		<string>3_101.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:爱死了:}</string>
		<key>cht</key>
		<string>{:爱死了:}</string>
		<key>gif</key>
		<string>3_102.gif</string>
		<key>png</key>
		<string>3_102.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:飚眼泪:}</string>
		<key>cht</key>
		<string>{:飚眼泪:}</string>
		<key>gif</key>
		<string>3_103.gif</string>
		<key>png</key>
		<string>3_103.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:笑哭脸:}</string>
		<key>cht</key>
		<string>{:笑哭脸:}</string>
		<key>gif</key>
		<string>3_115.gif</string>
		<key>png</key>
		<string>3_115.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:不开心:}</string>
		<key>cht</key>
		<string>{:不开心:}</string>
		<key>gif</key>
		<string>3_105.gif</string>
		<key>png</key>
		<string>3_105.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:飞个吻:}</string>
		<key>cht</key>
		<string>{:飞个吻:}</string>
		<key>gif</key>
		<string>3_106.gif</string>
		<key>png</key>
		<string>3_106.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:啦啦啦:}</string>
		<key>cht</key>
		<string>{:啦啦啦:}</string>
		<key>gif</key>
		<string>3_107.gif</string>
		<key>png</key>
		<string>3_107.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:生病了:}</string>
		<key>cht</key>
		<string>{:生病了:}</string>
		<key>gif</key>
		<string>3_108.gif</string>
		<key>png</key>
		<string>3_108.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:耍大牌:}</string>
		<key>cht</key>
		<string>{:耍大牌:}</string>
		<key>gif</key>
		<string>3_109.gif</string>
		<key>png</key>
		<string>3_109.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:左斜眼:}</string>
		<key>cht</key>
		<string>{:左斜眼:}</string>
		<key>gif</key>
		<string>3_118.gif</string>
		<key>png</key>
		<string>3_118.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:嘻嘻笑:}</string>
		<key>cht</key>
		<string>{:嘻嘻笑:}</string>
		<key>gif</key>
		<string>3_111.gif</string>
		<key>png</key>
		<string>3_111.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:真汗颜:}</string>
		<key>cht</key>
		<string>{:真汗颜:}</string>
		<key>gif</key>
		<string>3_117.gif</string>
		<key>png</key>
		<string>3_117.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:我的天:}</string>
		<key>cht</key>
		<string>{:我的天:}</string>
		<key>gif</key>
		<string>3_110.gif</string>
		<key>png</key>
		<string>3_110.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:小鲸鱼:}</string>
		<key>cht</key>
		<string>{:小鲸鱼:}</string>
		<key>gif</key>
		<string>3_114.gif</string>
		<key>png</key>
		<string>3_114.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:小恶魔:}</string>
		<key>cht</key>
		<string>{:小恶魔:}</string>
		<key>gif</key>
		<string>3_113.gif</string>
		<key>png</key>
		<string>3_113.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:秀肌肉:}</string>
		<key>cht</key>
		<string>{:秀肌肉:}</string>
		<key>gif</key>
		<string>3_116.gif</string>
		<key>png</key>
		<string>3_116.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:别看啦:}</string>
		<key>cht</key>
		<string>{:别看啦:}</string>
		<key>gif</key>
		<string>3_104.gif</string>
		<key>png</key>
		<string>3_104.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>{:吓尿你:}</string>
		<key>cht</key>
		<string>{:吓尿你:}</string>
		<key>gif</key>
		<string>3_112.gif</string>
		<key>png</key>
		<string>3_112.png</string>
	</dict>
</array>
</plist>
