<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1_109</key>
	<string>{:吃惊:}</string>
	<key>1_116</key>
	<string>{:呲牙咧嘴:}</string>
	<key>1_108</key>
	<string>{:嗯!?:}</string>
	<key>1_104</key>
	<string>{:大爱:}</string>
	<key>1_105</key>
	<string>{:大笑:}</string>
	<key>1_110</key>
	<string>{:害羞:}</string>
	<key>1_103</key>
	<string>{:微笑:}</string>
	<key>1_106</key>
	<string>{:愤怒:}</string>
	<key>1_101</key>
	<string>{:挖鼻屎:}</string>
	<key>1_102</key>
	<string>{:挖鼻屎大叔版:}</string>
	<key>1_115</key>
	<string>{:晕倒:}</string>
	<key>1_111</key>
	<string>{:汗:}</string>
	<key>1_112</key>
	<string>{:沮丧:}</string>
	<key>1_113</key>
	<string>{:流泪:}</string>
	<key>1_114</key>
	<string>{:生气:}</string>
	<key>1_107</key>
	<string>{:臭美:}</string>
	<key>2_101</key>
	<string>{:呵呵呵:}</string>
	<key>2_103</key>
	<string>{:拜拜啦:}</string>
	<key>2_104</key>
	<string>{:丑哭脸:}</string>
	<key>2_105</key>
	<string>{:发大怒:}</string>
	<key>2_106</key>
	<string>{:哈哈笑:}</string>
	<key>2_107</key>
	<string>{:好害羞:}</string>
	<key>2_108</key>
	<string>{:好可怜:}</string>
	<key>2_109</key>
	<string>{:好伤心:}</string>
	<key>2_110</key>
	<string>{:好喜欢:}</string>
	<key>2_111</key>
	<string>{:可爱呦:}</string>
	<key>2_112</key>
	<string>{:流大汗:}</string>
	<key>2_113</key>
	<string>{:太吃惊:}</string>
	<key>2_114</key>
	<string>{:捅鼻孔:}</string>
	<key>2_115</key>
	<string>{:偷笑中:}</string>
	<key>2_116</key>
	<string>{:我酷吗:}</string>
	<key>2_117</key>
	<string>{:嘻嘻嘻:}</string>
	<key>2_102</key>
	<string>{:皱眉头:}</string>
	<key>3_101</key>
	<string>{:哎呦喂:}</string>
	<key>3_102</key>
	<string>{:爱死了:}</string>
	<key>3_103</key>
	<string>{:飚眼泪:}</string>
	<key>3_115</key>
	<string>{:笑哭脸:}</string>
	<key>3_105</key>
	<string>{:不开心:}</string>
	<key>3_106</key>
	<string>{:飞个吻:}</string>
	<key>3_107</key>
	<string>{:啦啦啦:}</string>
	<key>3_108</key>
	<string>{:生病了:}</string>
	<key>3_109</key>
	<string>{:耍大牌:}</string>
	<key>3_118</key>
	<string>{:左斜眼:}</string>
	<key>3_111</key>
	<string>{:嘻嘻笑:}</string>
	<key>3_117</key>
	<string>{:真汗颜:}</string>
	<key>3_110</key>
	<string>{:我的天:}</string>
	<key>3_114</key>
	<string>{:小鲸鱼:}</string>
	<key>3_113</key>
	<string>{:小恶魔:}</string>
	<key>3_116</key>
	<string>{:秀肌肉:}</string>
	<key>3_104</key>
	<string>{:别看啦:}</string>
	<key>3_112</key>
	<string>{:吓尿你:}</string>
</dict>
</plist>
